<% items = [
	 [0, '2004-2007', 'V LO High School in Krakow, Poland', 'In 2004 I moved to Krakow in order to get better education. Things I learned and people I met had a huge impact on who I am now.'],
	 [2, '2007-2011', 'AGH University of Science and Technology in Krakow, Poland', 'I took up Computer Science at local university renowned for its strong technical curriculum and practical approach. '],
	 [3, 'June 2007 - Sept 2007', 'Institute of Nuclear Physics PAN, Poland', 'My programming contests experiences helped me land my first summer job building classification tools for particle detectors.'],
	 [4, 'Sept 2007, Feb 2008, Aug 2008', 'CERN, Switzerland', 'Thanks to my previous work I got a few opportunities to work directly with the Large Hadron Collider in Switzerland during my Summer and Winter breaks.'],
	 [3, 'July 2009 - Aug 2011', 'Institute of Nuclear Physics PAN, Poland', 'When INP decided to build a private cloud system two of my friends and I were responsible for the initial research phase and the first prototype. In time the team grew to 8 people.'],
	 [6, 'July 2010 - Sept 2010', 'ESISAR, Grenoble Institute of Technology, France', 'While studying at AGH I participated in the LLP ERASMUS programme. I spent 3 months in France working on water canals simulation.'],
	 [2, '2011-2013', 'AGH University of Science and Technology in Krakow, Poland', 'In 2011 I graduated with an Engineer\'s degree (similar to BSc but requires additional technical subjects). I decided to continue studies and joined the Master\'s programme.'],
	 [8, 'Jan 2012 - Aug 2012', 'Fujitsu Laboratories Ltd, Japan', 'In Aug 2011, along with 29 other students from all over Europe, I moved to Japan as part of the Vulcanus in Japan programme. I spent 4 months of that time studying Japanese and the remaining 8 months working as an intern at Fujitsu Laboratories.'],
	 [9, 'Oct 2012 - Nov 2013', 'u2i LLC in Krakow, Poland', 'While in my last year of University I joined a consulting company with a development office in Krakow. I learned a lot there about project management, teamwork, communicating with clients and modern web development tools. I left soon after graduating to move to Singapore where my girlfriend (now wife) lived.'],
	 [10, 'Dec 2013 - Nov 2015', 'Sugar Ventures, formerly Gilcrux Holdings, Singapore', 'In Singapore I found a job at a holdings company owning a number of technology startups. During my two years there  I worked on a number of web projects: Kluje, Voicemap, Folr, MeetDrinks, SOML. I designed the systems, built and managed the infrastructure, created APIs. In 2014 the company split into two and I was elevated to be in charge of the development team at one of them, where I split my time between coding, interviewing and managing teams and products.'],
         [11, 'Dec 2015 - NOW', 'Google, Zurich, Switzerland', 'In 2015 I decided it\'s time to move back to Europe so I accepted an offer from Google Switzerland. I joined a team responsible for Google Maps Directions infrastructure but after half a year we were re-assigned to work on Local Search.']
] %>



<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">Curriculum Vitae</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
	  <% items.each_with_index do |item, i| %>
            <li class="<%= i%1 == 0 ? '' : 'timeline-inverted' %>">
              <div class="timeline-image">
		<%= image_tag "about/#{item[0]}.jpg", class: "img-circle img-responsive", alt: "" %>
              </div>
              <div class="timeline-panel">
		<div class="timeline-heading">
                  <h4><%= item[1] %></h4>
                  <h4 class="subheading"><%= item[2] %></h4>
		</div>
		<div class="timeline-body">
                  <p class="text-muted"><%= item[3] %></p>
		</div>
              </div>
            </li>
	  <% end %>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be a part
                <br>of my
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
